
/*
!wp-content/
!gulpfile.js
!package.json

# ignore all files starting with . or ~
.*
~*
!/.gitignore

# ignore node dependency directories
node_modules
.sass-cache


# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
