<footer class="wrapper">
  <section class="footer-container">
    <div class="footer-form signup-form">
      <label>Sign up for the Instasistas newsletter:</label>
      {{ function(
          'do_shortcode',
          '[mc4wp_form id="38"]') }}
    </div>

    {% if footerMenu %}
    	{% include 'footer-menu.twig' %}
    {% endif %}

    {% if socialLinks %}
    	{% include 'social-links.twig' %}
    {% endif %}
  </section>

  <p class="copyright">
    Copyright {{"now"|date('Y')}} | Site by
    <a href="https://lauramccartney.github.io/portfolio/">Laura McCartney</a>
  </p>
</footer>
