<footer class="wrapper">
  <div class="footer-form">
    <label>Sign up to the Instasistas newsletter</label>
    {{ function(
        'do_shortcode',
        '[mc4wp_form id="38"]') }}
  </div>

  <p class="copyright">
    Copyright {{"now"|date('Y')}}
  </p>
</footer>
