{% extends "base.twig" %}

{% block content %}

	{% if post.get_thumbnail %}
		<div class="featured-image"  style="background-image: url('{{ post.thumbnail.src }}')"></div>
	{% endif %}

		<article class="wrapper page-content">
				{{post.content}}
		</article>
{% endblock %}
