{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="wrapper">

					{{post.content}}

			</section>
			<section class="signup-form wrapper">

			{{ function(
					'do_shortcode',
					'[mc4wp_form id="38"]') }}
					
			</section>
		</article>
{% endblock %}
