{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

			<section class="signup-form wrapper">
				<h1>Sign up for the instasistas newsletter</h1>
			{{ function(
					'do_shortcode',
					'[mc4wp_form id="38"]') }}

			</section>

			<section class="wrapper page-content">

					{{post.content}}

			</section>

		</article>
{% endblock %}
