{% extends "tease.twig" %}

{% block content %}
	<h2><a href="{{post.link}}">{{post.title}}</a></h2>

	{% include 'location-link.twig' %}

		<p>{{post.preview.length(25)}}</p>
		{% if post.thumbnail.src %}

			<div class="tease-image-wrapper" style="background-image: url('{{post.thumbnail.src}}')"></div>

		{% endif %}
{% endblock %}
