@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400');

@font-face {
  font-family: 'icomoon';
  src:  url('static/fonts/icomoon.eot?nxqzzv');
  src:  url('static/fonts/icomoon.eot?nxqzzv#iefix') format('embedded-opentype'),
    url('static/fonts/icomoon.ttf?nxqzzv') format('truetype'),
    url('static/fonts/icomoon.woff?nxqzzv') format('woff'),
    url('static/fonts/icomoon.svg?nxqzzv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$black: #373737;
$white: #fff;
$silk: #dcd0c0;
$gold: #c0b283;

$main-font-family: 'Open Sans', sans-serif;
$section-border: 1px solid $gold;
$small-margin: 3rem;
$large-margin: 6rem;
$lr-padding: 1rem;
$sm-breakpoint: 768px;

@import 'partials/normalize',
        'partials/fonts',
        'partials/main',
        'partials/home',
        'partials/header',
        'partials/footer';
