.header {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;

  @media (min-width: $sm-breakpoint) {
    display: flex;
    padding-bottom: 2.5rem;
  }

  a {
    color: $black;

    &:hover {
      color: $gold;
    }
  }
}

.nav-main {
  margin-top: 1.5rem;

  @media (min-width: $sm-breakpoint) {
    flex-grow: 1;
  }
}

.logo {
  font-size: 3rem;
  margin: 0;
  line-height: 0.8;
}

.tagline {
  font-family:  $main-font-family;
  font-size: .89rem;
  display: block;
  letter-spacing: .05em;
  margin: .5rem 0 0 0;
  padding-bottom: 0;
  font-weight: normal;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  height: 100%;

  @media (min-width: $sm-breakpoint) {
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 0 0 1em;
  }

  li {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;

    @media (min-width: $sm-breakpoint) {
      padding-left: 4em;
      text-align: right;
      width: auto;
    }

    &:nth-child(n+2) {
      a {
        position: relative;
        display: block;

        &::before {
          $dot-size: 5px;

          content: '';
          height: $dot-size;
          width: $dot-size;
          border-radius: 50%;
          background-color: $gold;
          position: absolute;
          left: -3px;
          top: 40%;

          @media (min-width: $sm-breakpoint) {
            left: -2.3em;
          }
        }
      }
    }
  }
}
