.header {
  margin: 2.5rem auto;

  @media (min-width: $sm-breakpoint) {
    display: flex;
  }
}

.nav-main {
  margin-top: 1.5rem;

  @media (min-width: $sm-breakpoint) {
    flex-grow: 1;
  }
}

.logo {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
  letter-spacing: .04em;
  line-height: 0.8;

  &::after {
    content: 'Inspiring women, inspiring women';
    font-family:  $main-font-family;
    font-size: .93rem;
    display: block;
    letter-spacing: .05em;
    margin-top: .5rem;
    font-weight: 300;
  }
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  height: 100%;

  @media (min-width: $sm-breakpoint) {
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 0 0 1em;
  }

  li {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;

    @media (min-width: $sm-breakpoint) {
      padding-left: 4em;
      text-align: right;
      width: auto;
    }

    &:nth-child(n+2) {
      a {
        position: relative;
        display: block;

        &::before {
          $dot-size: 5px;

          content: '';
          height: $dot-size;
          width: $dot-size;
          border-radius: 50%;
          background-color: $gold;
          position: absolute;
          left: -3px;
          top: 40%;

          @media (min-width: $sm-breakpoint) {
            left: -2.3em;
          }
        }
      }
    }
  }
}
