.hero-image {
  position: relative;
  background-image: none;
  transition: background-image 1.5s linear;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
}
