.hero-image {
  position: relative;
  background-image: none;
  transition: background-image 1.5s linear;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $silk;
  min-height: 90vh;

  header {
    a, p {
      color: $white;
    }

    a:hover {
      color: $gold;
    }
  }

  .nav-list {
    a {
      font-weight: bold;
    }
  }
}

.home {
  .page-content {
    position: relative;
    margin: $small-margin auto;
    padding: $small-margin $lr-padding;

    @media (min-width: $sm-breakpoint) {
      margin: $large-margin auto;
      padding: 5rem $lr-padding;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      left: 6rem;
      right: 6rem;
      height: 1px;
      background-color: $gold;

      @media (min-width: $sm-breakpoint) {
        left: 16rem;
        right: 16rem;
      }

      @media (min-width: 950px) {
        left: 20rem;
        right: 20rem;
      }
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}
