body {
  font-family: $main-font-family;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
  transition: .2s color linear;

  &:hover {
    color: $gold;
  }
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 $lr-padding;
}

.content-section {
  margin: $large-margin auto;
  padding: 5rem $lr-padding;
  border-bottom: $section-border;
  border-top: $section-border;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 300;

  p {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: .5rem;
  }
}

.screen-reader-text {
  display: none;
}

figcaption {
  color: $white;
  opacity: .8;
  font-size: .8em;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.cta-wrapper {
  text-align: center;
}

.cta-link {
  display: inline-block;
  font-weight: normal;
  margin-top: 1rem;
  font-size: .9rem;
  color: $black;
  border: 2px solid $silk;
  padding: .5rem;
  transition: background-color .2s linear;

  &:hover {
    background-color: $silk;
    color: $black;
  }
}
