.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(21rem,1fr));
  grid-gap: 3rem;
}

.tease {
  display: flex;
  flex-direction: column;

  p {
    flex-grow: 1;
  }

  h2 {
    font-family: $second-font-family;
    font-weight: normal;
    letter-spacing: .04em;
    font-size: 1.8rem;
    margin-bottom: 0;

    a {
      color: $black;

      &:hover {
        color: $gold;
      }
    }
  }

  .location-link, p a {
    font-size: .9rem;
  }

  .tease-image-wrapper {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.featured-image {
  padding-bottom: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2.5rem;
}

.location-link, .date-time {
  display: block;
  margin-bottom: .3rem;
}
